.shape-top {
    position: absolute;
    right: 0px;
    top: 0px;
}

.shape-bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

footer {
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-wrap: nowrap;
}

@media (max-width: 500px) {
    footer {
        font-size: 10px;
    }

    .shape-bottom, .shape-top {
        height: 50px;
    }

}