section {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.option-btn {
    color: #293264;
    border: 0.8px solid #4D5B9E;
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    background-color: #F5F7FB;
    padding: 6px 14px;
    margin-right: 14px;
    cursor: pointer;
    word-wrap: nowrap;
    min-width: 90px;
    margin-bottom: 4px;
  }

.option-btn-select {
    background-color: #D6DBF5;
}

.option-btn-incorrect {
    background-color: #F8BCBC;
    opacity: 0.6;
}

.option-btn-correct {
    background-color: #94D7A2;
}

.option-incorrect {
    opacity: 0.6;
}

.score-submit-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items:first baseline;
    margin-top: 20px;
    font-size: 800;

}

.submission-btn {
    font-size: 13px;
    background: #4D5B9E;
    border-radius: 10px;
    color: #F5F7FB;
    padding: 12px 24px;
    border: none;
    min-width: 120px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    text-wrap: nowrap;
}

hr {
    margin-top: 20px;
    opacity: 0.6;
    font-weight: 100;
}

.mobile-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-prev, .btn-next {
    background-color: #ff595e;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 12px;

}

.btn-disable {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.score-submit-mob {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}




